<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <span class="navbar-brand" href="#">Aramaki</span>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavMenu" aria-controls="navbarNavMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarNavMenu" class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-project" aria-hidden="true"></span> Schemas
                </NavLink>
            </li>
            <li class="nav-item">
                <NavLink class="nav-link" href="tables">
                    <span class="oi oi-spreadsheet" aria-hidden="true"></span> Tables
                </NavLink>
            </li>
        </ul>
    </div>
</nav>
