@page "/"

<h1 class="h1 text-white">Schemas</h1>

<DataGrid ColumnNames="@dataGridColumnNames" AllowMultiSelect="true" />

@code {
    private string[] dataGridColumnNames = new string[]
    {
        "Name",
        "Date modified",
    };
}
